name: Custom test

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Download and install Graal
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: "21"
          distribution: "graalvm-community"

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run test
        run: |
          python --version
          python test.py

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download and install Graal
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: "21"
          distribution: "graalvm-community"

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Maven
        uses: s4u/setup-maven-action@v1.18.0
        with:
          maven-version: "3.9.9"

      - name: Run test
        run: |
          python --version
          python test.py